<section class="contentall">
<div class="container">
<ul class="breadcrumb">
    <li><a href="index.html">Home</a></li>
    <li class="active">Upload Invite</li>
</ul>

<div class="col-md-3 sidebar user">
<img class="thumbnail center-block" src="images/box2.jpg"/>
<h4>Aramide2</h4> 
<button class="btn btn-default btn-lg">View all invites</button>
</div>

<div class="col-md-6">
<%= render 'form' %>
</div>


</div>
</section>
